body{
    margin: 0px;
}
.Switch{
    float: left;
    position: relative;
    display: block;
    min-width: 500px;
    min-height: 30px;
    background-color: #e8e8e8;
    --Switch-border-radius:10px;
    --Switch-border-width:1px;
    border-radius: var(--Switch-border-radius);
    border-style: solid;
    border-width: var(--Switch-border-width);
    border-color: #c7c7c7;
    -webkit-user-select:none;
}
.Switch > .Button{
    --Button-border-radius:calc(var(--Switch-border-radius) - var(--Switch-border-width));
    position: absolute;    
    display:flex;
    align-items:center;
    justify-content:center;    
    left: 0%;
    --width:50%;
    width: var(--width);
    height: 100%;
    background-color: #727272;
    border-radius: var(--Button-border-radius);
    transition: left .5s ease-out,background-color .5s ease-out;
}
.Switch > .Button > text{
    
}

.Switch > .Button.active{
    left: calc(100% - var(--width));
    background-color: #5ac0ff;
}
.Switch.disable{
    background-color: #8e8e8e;
}
.Switch.disable > .Button{
    background-color: #717171;
}
.Switch.disable > .Button.active{
    background-color: #717171;
}